<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    * {
        margin: 0px;
        padding: 0px;
    }
    .main{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
    }
    .heading{
        margin: 20px;
    }
    .output{
        margin: 10px auto;
    }
    button{
        padding: 5px 8px;
        cursor: pointer;
    }
</style>

<body>
    <div class="main">
        <div class="heading">
            <h1>Random Text Generator</h1>
        </div>
        <div class="output">{{data}} </div>
        <button type="submit">Send a request</button>
    </div>
    <script>
        const button = document.querySelector("button");
        button.addEventListener('click',()=>{
            window.location.reload()
        })
    </script>
</body>

</html>